html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
.welcome {
  margin: 10px;
}
.header {
  /* border: 1px black solid; */
}
.app {
  opacity: 0;
  /* border: 1px black solid; */
}
/* FORM */
.div-form {
  border: 1px black solid;
  border-radius: 6px;
}
.form {
  background-color: rgb(230, 209, 209);
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 6px;
  margin-bottom: 5px;
  padding: 10px 10px;
}
.transfer {
  margin: 0;
}
/* Input */
input {
  padding: 8px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
}
/* BUTTON */
button {
  padding: 5px 10px;
  font-weight: bold;
}

h2,
p {
  margin: 5px;
}
/* BALANCE */
.balance {
  background-color: rgb(240, 224, 224);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px black dotted;
}
.balance-info {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* BALANCE VALUE*/
.balance_value {
  /* background-color: rgb(170, 170, 170); */
  padding: 10px;
  color: green;
  border-radius: 10px;
  font-weight: bold;
  font-size: 22px;
}
/* MOVEMENTS */
.movements {
  background-color: rgb(230, 209, 209);
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px black solid;
}
/* movements_row */
.movements_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: white;
  border-radius: 6px;
}
.movements_details {
  display: flex;
  gap: 10px;
  align-items: center;
}
/* MOVEMENT TYPE */
.movements__type {
  padding: 2px 5px;
  border-radius: 5px;
}
.deposit {
  background-color: green;
}
.withdraw {
  background-color: red;
}
.movements_details{
  /* background-color: blue; */
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* SUMMARY */
.summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgb(228, 219, 219);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 6px;
  font-size: 18px;
  border: 1px solid black;
  font-weight: bold;
}
