html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-family: "Courier New", Courier, monospace;
}
.welcome {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.content {
  /* background-color: red; */
  opacity: 0;
}
/* NAV */
nav {
  /* background-color: antiquewhite; */
  /* padding: 10px; */
}
/* FORM */
.login {
  background-color: rgb(230, 209, 209);
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
}
/* Input */
input {
  padding: 5px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
}
/* BUTTON */
button {
  padding: 5px 10px;
  font-weight: bold;
}
/* BALANCE */
.balance {
  background-color: rgb(241, 227, 227);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

/* MOVEMENTS */
.movements {
  background-color: rgb(230, 209, 209);
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
}
/* BALANCE */
.balance_value {
  background-color: rgb(13, 90, 90);
  padding: 10px;
  color: rgb(216, 169, 169);
  border-radius: 10px;
  font-weight: bold;
}
/* movements_row */
.movements_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 6px;
}
.movements_details {
  display: flex;
  gap: 10px;
  align-items: center;
}
/* MOVEMENT TYPE */
.movements__type {
  padding: 2px 5px;
  border-radius: 5px;
}
.deposit {
  background-color: green;
}
.withdraw {
  background-color: red;
}
/* SUMMARY */
.summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgb(228, 219, 219);
  margin-top: 10px;
  border-radius: 6px;
  font-size: 18px;
  border: 1px solid black;
  font-weight: bold;
}
